@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('./Fonts/ProximaNova/ProximaNova-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
	margin: 0;
	padding: 0;
}

html, body {
    		height: 100%;
    		margin: 0;
    		width: 100%;
    	}


.container{
	width: 100%;
}

h1 {
	font-size: 28pt;
	font-family:Arial;
	color: white;
}

h2 {
	font-family:Arial;
	font-size: 30pt;
	text-align: center;
}

h3{
	font-family: 'ProximaNova-Regular';
}

p {
	font-size: 14pt;
	text-align: center;
}

span {
	color: green;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-right: 2%;
}
li {
  margin: 5px 10px;
  font-size: 14pt;
}

a {
	color: white;
	font-family: 'ProximaNova-Regular';
	font-size: 14pt;
	text-decoration: none;
}

li a:hover {
    font-size: 16pt;
    font-weight: bold;
}

nav {
	background-color: #3DA859;
	height: 12%;
	width: 100%;
	display: flex;
	justify-content: space-around;
	font-family: 'ProximaNova-Regular';
	flex-wrap: wrap;
}

nav ul{
	display: flex;
	flex-direction: row;
	align-items: center;
}

article {
}

footer {
	height: 10%;
	background-color: black;
}

footer p {
	color: white;
	font-family:Arial;
	display: inline;
}

.buttons{
	height: auto;
	width: 100%;
}

.ClothingPic{
	max-height: 100%;
	max-width: 100%;
	/*height: auto;*/
}
.ClothingPicContainer{
	text-align: center;
	padding: 70px;
} 

.ClothingBgrnd {
	background: url('images/App_clothing_laptop.png');
}

.first {
	position: relative;
	background-image: url('images/Green.jpg');
	 background-size: cover;
	 /*margin-bottom: 7%;*/
	 display: flex;
	 flex-direction: row;
	 /*flex-wrap: wrap;*/
	 /*justify-content: space-around;*/
	 /*height: 100%;*/
	 align-items: center;
}

.first > div {
	width: 50%;
}

.storeButtonContainer{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 250px;
}

.appleStoreButtonContainer{
	width: 50%;
	padding-top: 30px;
	padding-right: 5%;

}

.androidStoreButtonContainer{
	width: 50%;
	padding-top: 30px;

}

/******************************************************************************
	Second Section (Video)
******************************************************************************/
.second {
	padding-top: 5%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.blob{
	background: url("images/green_blob.jpg");
	background-position: bottom;
	background-repeat:no-repeat;
	margin-left: 5%;
	margin-bottom: 5%;
	width: 40%;
}

.secondtext {
	text-align: center;
}

.explainer_video {
	width: 100%;
}

.circle{
    border-radius: 50%;
}

.footercenter{
	background-color: black;
	padding: 5%;
	padding-left: 30%;
}

.mission{
	background: url("images/Green.jpg");
	background-size: cover;
	display: flex;
	justify-content: center;
	padding: 5%;
}

.statement{
	max-width: 900px;
}

a#futureEmail{
	color: #3DA859;
}

@media (max-width: 700px) {
	.first {
		flex-direction: column;
		text-align: center;
	}

	.second {
		flex-direction: column;
		text-align: center;
	}	

	h1{
		font-size: 28pt;
	}

	.first > .introText {
		width: 100%;
	}

	.ClothingPicContainer {
		padding: 10px;
		padding-top: 25px;
	}

	.videoContainer{
		width: 100%;
	}

	.blob{
		margin: 5% auto 8% auto;
		width: 100%;
	}

	.storeButtonContainer{
		display: flex;
		justify-content: center;
		width: 100%;
	}

	.appleStoreButtonContainer{
		padding: 5%;

	}

	.androidStoreButtonContainer{
		padding: 5%;
	}
}

