html, body {
    		height: 100%;
    		margin: 0;
    		width: 100%;
    	}


.container{
	width: 100%;
}

h1 {
	font-size: 40pt;
	font-family:Arial;
	margin: 3%;
	color: white;
}

h2 {
	font-family:Arial;
	font-size: 30pt;
	text-align: center;
}

p {
	font-size: 14pt;
	text-align: center;
}

span {
	color: green;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-right: 2%;
}
li {
  margin: 5px 10px;
  font-size: 14pt;
}

a {
	color: white;
	font-family:Arial;
	font-size: 14pt;
}

a:hover {
    font-size: 16pt;
    font-weight: bold;
}

nav {
	background-color: #3DA859;
	height: 6%;
	width: 100%;
	display: flex;
	flex-direction: row;
}

nav h3 {
	vertical-align: middle;
	margin: 0px;
	color: white;
	font-family:Arial;
}

nav h3 a{
		text-decoration: none;
}

article {
	background-image: url('images/Green.jpg');
}

footer {
	height: 10%;
	background-color: black;
}

footer p {
	color: white;
	font-family:Arial;
	display: inline;
}

.nav-right {
	display: flex;
	align-self: flex-end;
	text-align: center;
}

.buttons{
	height: 100px;
	margin: 20px
}

.ClothingPic{
	height: 80%;
	margin: 5%;
}

.first {
	position: relative;
	 background: #969696 url('images/Green.jpg');
	 background-size: cover;
	 margin-bottom: 7%;
}

.blob{
	background-image: url("images/green_blob.jpg");
	background-position: bottom;
	background-repeat:no-repeat;
	margin-left: 5%;
}

.secondtext {
	text-align: center;
}

.explainer_video {
	margin-right: 5%;
	margin-bottom: 5%;
}

.circle{
    border-radius: 50%;
}

.footercenter{
	background-color: black;
	padding: 5%;
	padding-left: 30%;
}

.mission{
	background: #969696;
}
